<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef> Restaurant </th>
      <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="reservationid">
      <th mat-header-cell *matHeaderCellDef> Reservationid </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      <!-- <th mat-header-cell *matHeaderCellDef> check in </th> -->
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element">//todo</td>
    </ng-container>
  
    <ng-container matColumnDef="checkIn">
      <th mat-header-cell *matHeaderCellDef> check in </th>
      <td mat-cell  *matCellDef="let element">
      <input type="text" [ngModel]="code">
      <button mat-flat-button color="primary" (click)="checkin(element.id)">checkIn</button>
    </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  