<table mat-table [dataSource]="reservations$ | async" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="restaurant">
    <th mat-header-cell *matHeaderCellDef> Restaurant </th>
    <td mat-cell *matCellDef="let element"> {{element.restaurant?.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="reservationid">
    <th mat-header-cell *matHeaderCellDef> Reservationid </th>
    <td mat-cell *matCellDef="let element"> {{ getId(element.reservationKey) }} </td>
    <!-- <th mat-header-cell *matHeaderCellDef> check in </th> -->
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{ getDate(element.startTime) | date: 'short' }} - {{ getDate(element.endTime) | date: 'short' }} </td>
  </ng-container>

  <ng-container matColumnDef="checkIn">
    <th mat-header-cell *matHeaderCellDef> check in </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field style="padding-top: 10px;">
        <mat-label>code</mat-label>
        <input matInput id="id{{element.reservationKey}}">
      </mat-form-field>
          <button mat-flat-button color="primary" (click)="checkin(element.reservationId)" style="margin-left: 20px;">checkIn</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-spinner *ngIf="reservationsLoading$ | async" ></mat-spinner>