<!-- <h1 class="header">What would you like to do?</h1> -->
<div class="container">

  <div class="option" style="margin: 0 10% 10% 10%;" routerLink="../reservations" routerLinkActive="active" 
  >
    <mat-card class="card">
      <div class="text">Manage Reservations</div>
    </mat-card>
  </div>
  <div class="option" style="margin: 0 10% 10% 10%;"  routerLink="../restaurants" routerLinkActive="active">
    <mat-card class="card">
      <div class="text">Manage Restaurant</div>
    </mat-card>
  </div>

</div>
<app-reservation-status></app-reservation-status>