.container{
    display: flex;
    height: 70%;
    margin-top: 6%;
}

.option{
    width: 50%;
}

.card{
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center; 
}

.text{
    font-size: xx-large;
}

.header{
    flex: 1 1 auto;
    text-align: center;
}