.header{
    flex: 1 1 auto;
    text-align: center;
}

.wrapper{
    height: auto;
}

.marginTop{
    margin-top: 5%;
}

.wrapper{
    height: 60%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    // cursor: pointer;
    // align-items: center; 
}