.wrapper{
    height: 60%;
    display: flex;
    justify-content: center;
    // cursor: pointer;
    // align-items: center; 
}

.card{
    margin-top: 6%;
}

.header{
    flex: 1 1 auto;
    text-align: center;
}